<!DOCTYPE html>
<html>
  <head>
    <title>Ancestry Composition Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css') }}">
  </head>
  <body>
    <div id=entry>
      <div>Login via your 23andme account:</div>
      <div id="login-btn"></div>
    </div>
    <script src="https://api.23andme.com/res/js/ttam-0.3.js"></script>
    <script>
      window.onload = function () {
        var ttam = TTAM('dd68469627e72cb14486346923b0c345');
        ttam.connectButton('login-btn', ["ancestry"]);
      };
    </script>
  </body>
</html>
