<!DOCTYPE html>
<html>
  <head>
    <title>Ancestry Estimate</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.light_green-pink.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css') }}">
  </head>
  <body>
    <div id="app">
      <div id="root"></div>
      <div id="threshold-display"></div>
      <div id="canvas-holder" style="width:75%">
        <canvas id="chart-area" />
      </div>
      <div id="ancestry-data"></div>
    </div>
    <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
    <script src="{{ url_for('static', filename='js/bundle.js')}}"></script>
  </body>
</html>
